*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    object-fit: cover;
}

:root {
    --spacing-s: 5px;
    --spacing-m: 10px;
    --spacing-l: 15px;
    --spacing-xl: 20px;
    --form-width: 50%;
}

.upload-form {
    border: 1px dashed rgba(61, 61, 61, 0.5);
    background-color: rgba(211, 211, 211, 0.1);
    max-width: var(--form-width);
    height: 500px;
    margin: calc(var(--spacing-xl) * 2) auto;
    /* padding: var(--spacing-xl); */
    border-radius: var(--spacing-xl);
    font-size: 1.25rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.upload-form .upload-label {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--spacing-l) * 2);
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    /* border: 1px solid black; */
    border-radius: var(--spacing-xl);
    width: 100%;
}

.upload-form .upload-label:hover {
    background-color: rgba(211, 211, 211, 0.3);
}

.upload-form .upload-icon {
    width: 50px;
}

.upload-form .required-sign {
    color: red;
}

.upload-form .browse-btn {
    padding: var(--spacing-s) var(--spacing-xl);
    background-color: #2492ff;
    font-size: 1.5rem;
    border-radius: var(--spacing-xl);
    border: none;
    color: white;
    transition: all 0.15s ease-in-out;
}

.upload-form .browse-btn:hover {
    background-color: #00478f;
}

.upload-form .submit-btn {
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    width: 100%;
    padding: var(--spacing-s);
    bottom: calc(var(--spacing-s) - 50px);
    border-radius: var(--spacing-xl);
    border: none;
    background-color: #2492ff;
    color: white;
    font-size: 1.5rem;
    transition: all 0.15s ease-in-out;
}

.upload-form .submit-btn:hover {
    background-color: #00478f;
}

.upload-form .submit-btn:disabled {
    background-color: rgba(211, 211, 211, 0.5);
    cursor: not-allowed;
}
