*,
::before,
::after {
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    box-sizing: border-box;
}

:root {
    --spacing-s: 5px;
    --spacing-m: 10px;
    --spacing-l: 15px;
    --spacing-xl: 20px;
    --spacing-xxl: 25px;
    --spacing-xxxl: 30px;
}

/* HEADER SECTION */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.5);
    padding: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
    color: white;
    /* min-width: 1600px; */
}

header .user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
}

header .navbar {
    width: 50%;
}

header .navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-l);
    list-style-type: none;
}

.navbar .login-container {
    justify-content: flex-end;
}

.navbar .register-container {
    justify-content: flex-end;
}

header .navbar a {
    text-decoration: none;
    font-weight: bold;
    padding: var(--spacing-s);
    border-radius: var(--spacing-m);
    color: white;
    transition: all 0.15s ease-in-out;
}

header .navbar a:hover {
    background-color: white;
    color: black;
}

header .manage-role-link {
    display: none;
}

.page-title {
    min-width: 300px;
}

.logout-button {
    background-color: gray;
    color: white;
    padding: var(--spacing-s);
    border: none;
    border-radius: var(--spacing-s);
    transition: all 0.15s ease-in-out;
}

.logout-button:hover {
    background-color: black;
}
