*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    object-fit: cover;
}

:root {
    --spacing-s: 5px;
    --spacing-m: 10px;
    --spacing-l: 15px;
    --spacing-xl: 20px;
    --form-width: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

/* TABLE SECTION */
.document-table-container {
    max-width: 98%;
    margin: auto;
}

.column-name-container {
    margin-bottom: var(--spacing-m);
}

.column-name-container,
.document-item {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr) 150px 150px 150px 150px 150px;
    border-radius: var(--spacing-m);
    padding: var(--spacing-s);
}

.column-name-container {
    background-color: rgba(255, 255, 0, 0.5);
    border: 1px solid lightgray;
}

.document-item {
    background-color: rgba(173, 216, 230, 0.5);
    margin-bottom: var(--spacing-s);
    transition: all 0.15s ease-in-out;
}

.document-item:hover {
    background-color: rgb(173, 216, 230);
    cursor: pointer;
}

.column-name-container .column-name {
    font-weight: bold;
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.complete-btn {
    text-align: left;
    width: 50%;
    padding: 2.5px;
    font-size: 1rem;
    border-radius: var(--spacing-s);
    border: none;
    background-color: lightgreen;
    transition: all 0.15s ease-in-out;
}

.complete-btn:hover {
    background-color: green;
    color: white;
}

/* MODAL SECTION */
.inbox-modal {
    border: none;
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: var(--spacing-m);
    padding: var(--spacing-m);
}

.inbox-modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
}

.inbox-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.inbox-modal .approve-btn {
    background-color: lightgreen;
    color: black;
}

.inbox-modal .revision-btn {
    background-color: yellow;
    color: black;
}

.inbox-modal .reject-btn {
    background-color: red;
    color: white;
}

.inbox-modal-btn {
    font-size: 1.5rem;
    padding: var(--spacing-m);
    border: 1px solid lightgray;
    border-radius: var(--spacing-m);
    width: 110px;
}

.inbox-modal .button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}

.inbox-modal .close-btn {
    position: absolute;
    top: var(--spacing-s);
    right: var(--spacing-s);
    padding: var(--spacing-s);
    /* border-radius: 50%; */
    border: none;
    background-color: white;
}

/* REVISE MODAL */
.inbox-modal_revise {
    height: 60%;
}

.inbox-modal_revise .revise-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inbox-modal_revise #feedback-message {
    padding: var(--spacing-s);
    font-size: 1.1rem;
    margin-bottom: var(--spacing-m);
}

.inbox-modal_revise label {
    width: 100%;
    margin-top: var(--spacing-m);
}

.inbox-modal_revise .feedback-btn {
    width: 40%;
    background-color: lightgreen;
}

.inbox-modal_preview-feedback .wrapper {
    display: flex;
    align-items: flex-end;
    /* border: 1px solid black; */
    width: 100%;
    gap: var(--spacing-s);
}

.inbox-modal_preview-feedback .message-wrapper {
    /* align-items: flex-start; */
    overflow-y: scroll;
}

.inbox-modal_preview-feedback .resubmit-btn {
    width: 20%;
    background-color: lightgreen;
}

.inbox-modal_preview-feedback .archived-btn {
    width: 20%;
    background-color: lightgreen;
}
