*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    object-fit: cover;
}

:root {
    --spacing-s: 5px;
    --spacing-m: 10px;
    --spacing-l: 15px;
    --spacing-xl: 20px;
    --form-width: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* TABLE SECTION */
.user-table-container {
    max-width: 30%;
    margin: auto;
}

.column-name-container {
    margin-bottom: var(--spacing-m);
}

.column-name-container,
.user-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--spacing-m);
    padding: var(--spacing-s);
}

.column-name-container {
    background-color: rgba(255, 255, 0, 0.5);
    border: 1px solid lightgray;
}

.user-item {
    background-color: rgba(173, 216, 230, 0.5);
    margin-bottom: var(--spacing-s);
    transition: all 0.15s ease-in-out;
}

.user-item .username {
    align-self: center;
}

.user-item:hover {
    background-color: rgb(173, 216, 230);
    cursor: pointer;
}

.column-name-container .column-name {
    font-weight: bold;
}

.select-role {
    width: 100%;
    padding: var(--spacing-s);
    border-radius: var(--spacing-m);
}
